<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:object="${user}">
    <tr>
        <td>Lastname</td>
        <td th:text="${user.lastname}"></td>
    </tr>
     <tr>
        <td>Firstname</td>
        <td th:text="${user.firstname}"></td>
    </tr>
     <tr>
        <td>Phonenumber</td>
        <td th:text="${user.phonenumber}"></td>
    </tr>
     <tr>
        <td>Age</td>
        <td th:text="${user.age}"></td>
    </tr>
     <tr>
        <td>Email</td>
        <td th:text="${user.email}"></td>
    </tr>

</table>
</body>
</html>